<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :max_value %>
    <%= form.number_field :max_value ,class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :min_value %>
    <%= form.number_field :min_value ,class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title ,class: 'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit  class: "btn btn-success" %>
  </div>
<% end %>
